{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <h1>Hello HomeController!</h1>
    <img src="{{ asset('images/mire.jpg') }}" alt="mire de test" style="width: 100px;">
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
