{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    <h1>Hello HomeController!</h1>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
