<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metas %}{% endblock %}

        <title>{% block title %}Trombinoscope des parents{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body data-turbo="true">
    {% block body %}
        <div id="main-container">
            <div id="main-content" class="container-fluid">
                {% include "_flash.html.twig" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    </body>
</html>
