{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block content %}
    <h1>Créer un utilisateur</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}
