{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    <h1>User : {{ user.email }}</h1>
    <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
{% endblock %}
