{% extends 'base.html.twig' %}

{% block title %}Trombi{% endblock %}

{% block content %}
    <div {{ turbo_stream_listen('trombi') }}></div>
    <h1>Trombi</h1>
    {% for user in users %}
        <div class="card" style="width: 18rem;">
{#            <img src="{{ asset('uploads/' ~ user.image) }}" class="card-img-top" alt="...">#}
            <div class="card-body">
                {% include "user/_user_in_trombi.html.twig" %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
